body{
    font-family: 'Lobster Two', cursive;
    background-color: lightseagreen;
}

.header_div img{
    width: 100px;
    margin-left: 20px;
}

.header_div{
    background-color: #fff;
    height: 120px;
}

.main_div{
    background-color: dodgerblue;
    padding: 10px;
    margin-top: 15px;
    border:lavender 3px solid;
    height: 500px;
}

#camera, #result {
    width: 320px;
    height: 300px;
    border: black solid 1px;
       box-shadow: 20px -30px 35px white;
}

.main_div label{
    width: 320px;
    background-color: #00688B;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 20px -30px 30px white;
    font-size: 20px;
    color: white;
}

.main_div button{
    font-size: 18px;
    width: 320px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 10px 30px 30px white;
}

.answer_footer {
    margin-bottom: 120px;
}

.answer_footer h4{
    background-color: wheat;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 20px 25px 35px white;

}

.answer_footer img{
    width: 100px;
}

.answer_footer span{
    font-size: 18px;
    background-color:beige;
    border-radius: 25px;
}

.copy_footer {
    text-align: center;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 3px;
    background-color: cornflowerblue;
    border-radius: 50px;
    color: white;

}